
.synthwave-container {
    width: 100vw;
    height: 100vh;
    background: #09090e;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.synthwave-container * {
    margin: auto;
    padding: 0;
    cursor: default;
}

#grid{
    width: 180%;
    height: 100%;
    background: #8000804d;
    display: grid;
    grid-template: repeat(16,1fr) / repeat(40,1fr);
    position: absolute;
    inset: 0 0 -23% -40%;
    transform: perspective(60vh) rotateX(75deg) translateY(-6.25vh);
    animation: gridz .8s infinite linear;
}
@keyframes gridz{
    100%{
      transform: perspective(60vh) rotateX(75deg) translateY(6.25vh);
    }
}
#grid div{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    filter: blur(1px);
}
#top{
    width: 100%;
    height: 55%;
    background: linear-gradient(
        #0D0221 0%,
        #45125e 40%,
        #A22561 80%,
        #FF3864 100%
    );
    box-shadow:
    0 0 100px purple,
    0 0 200px purple;
}
.stars{
    width: 1px;
    height: 1px;
    background: #fff;
    position: absolute;
}
#sun{
    width: 40vw;
    max-width: 40vh;
    height: 40vw;
    max-height: 40vh;
    background: linear-gradient(
        #FF3864 0%,
        #f80 100%
    );
    box-shadow:
    inset 0 0 20px #800080,
    0 0 120px #800080,
    0 35vh 400px #add8e64d;
    border-radius: 50%;
    position: absolute;
    inset: auto 0 55vh 0;
    overflow: hidden;
    z-index: 10;
}
.sun{
    height: 0;
    width: 100%;
    position: absolute;
    inset: 5vh 0 auto 0;
    transform: translateY(6vh);
    animation: sunset 6s linear infinite;
}
@keyframes sunset{
    0%,5%{
        background: #45125e;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    70%{
        background: #A22561;
    }
    100%{
        height: 4vh;
        background: #E03263;
        transform: translateY(40vh);
    }
}
#mountain::before{
    content: "";
    width: 100vw;
    height: 4px;
    background: #fff;
    box-shadow:
    0 0 8px #fff,
    0 0 16px #fff,
    0 0 24px #af62ff,
    0 0 32px #af62ff;
    position: absolute;
    filter: blur(1px);
    z-index: 20;
}
#mountain div{
    background: linear-gradient(
        #090910 40%,
        #450547 100%
    );
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    z-index: 10;
}
#mountain div:nth-child(1){
    width: 24vw;
    height: 6vw;
    max-height: 6vh;
    inset: auto auto 45% -5%;
}
#mountain div:nth-child(2){
    width: 24vw;
    height: 8vw;
    max-height: 8vh;
    inset: auto auto 45% 5%;
}
#mountain div:nth-child(3){
    width: 30vw;
    height: 10vw;
    max-height: 10vh;
    inset: auto auto 45% 15%;
}
#mountain div:nth-child(4){
    width: 30vw;
    height: 18vw;
    max-height: 18vh;
    inset: auto auto 45% 30%;
}
#mountain div:nth-child(5){
    width: 30vw;
    height: 26vw;
    max-height: 26vh;
    inset: auto 30% 45% auto;
}
#mountain div:nth-child(6){
    width: 30vw;
    height: 10vw;
    max-height: 10vh;
    inset: auto 15% 45% auto;
    z-index: 9;
}
#mountain div:nth-child(7){
    width: 24vw;
    height: 8vw;
    max-height: 8vh;
    inset: auto 5% 45% auto;
    z-index: 8;
}
#mountain div:nth-child(8){
    width: 24vw;
    height: 6vw;
    max-height: 6vh;
    inset: auto -5% 45% auto;
    z-index: 7;
}